body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
}

.flexer {
  display: flex;
}

.border {
  border: 1px solid red;
}

.circle {
  border-radius: 50%;
}

.wrapper {
  box-sizing: border-box;
  width: 70%;
  height: 95%;
  margin: 2.5% auto;
  background-color: beige;
}

.avatar-wrapper {
  box-sizing: border-box;
  width: 20%;
  height: 100%;
  overflow: auto;
}

.chat-wrapper {
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  overflow: hidden;
}

.messages-wrapper {
  width: 100%;
  height: 80%;
  padding: 12px;
  box-sizing: border-box;
}

.new-message-wrapper {
  width: 100%;
  height: 20%;
  box-sizing: border-box;
}

.new-message {
  width: 100%;
  height: 100%;
  padding: 12px;
  font-size: 1.2em;
  box-sizing: border-box;
}
